/**
* desc: 全局变量
* */
$border-color-one: #DCDFE6;
$blue: #3d97f6;
$red: #ec4a4d;
$green: #36c088;
$yellow: #fab242;
$text-primary: #303133;
$text-common: #606266;
$text-minor: #909399;
$text-placeholder: #C0C4CC;
$gray: $text-minor;
